@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to my Social Network</h1>
    <div class="container">
        <h2>Connect with friends and the world around you on my Social Network.</h2>
        <br/>
        <a href="Home/Login" class="btn btn-primary">Login</a>
        <a href="Home/Register" class="btn btn-secondary">Register</a>
    </div>
</div>

