@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to my Social Network</h1>
    <div class="container">
        <h2>Connect with friends and the world around you on my Social Network.</h2>
        <br/> <br/> 
        <br/>
        <a href="Home/Login" class="btn btn-primary" style="width: 200px; height: 60px; margin-right: 15px;"><h2>Login</h2></a>
        
        <a href="Home/Register" class="btn btn-secondary" style="width: 200px; height: 60px; margin-left: 15px;"><h2>Register</h2></a>
    </div>
</div>
