@{
    ViewData["Title"] = "Invalid";
}

<h1>Invalid  <img src="/images/delete.png" style="width: 35px; height: 35px;" /></h1>

<p><i class="fas fa-exclamation-circle"></i> Invalid username or password. Click <a href="Login">here</a> to try again.</p>
