@model AccountModel
@{
    ViewData["Title"] = "Login Page";
}
<div class="text-center">
    <h1 class="display-4">Login</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Home" asp-action="Login" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="Username" value="@Model?.Username" placeholder="Enter your username" required>
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="Password" value="@Model?.Password" placeholder="Enter your password" required>
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <br/>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Login</button>
                    <a href="Home/GetPassword">Forget password?</a>
                </div>
            </form>
        </div>
    </div>
</div>
