@{
    ViewData["Title"] = "Registration Successful";
}

<h1>Registration Successful   <img src="/images/success.png" style="width: 35px; height: 35px;" /></h1>

<p>Thank you for registering an account. You can now log in using your credentials.</p>
<p>Click <a href="/Home/Login">here</a> to login.</p>
