@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div>
    <h2>Settings</h2>
    <p>Display settings go here</p>
</div>

<div>
    <h2>Friends</h2>
    <p>List of friends go here</p>
</div>

<div>
    <h2>Hello </h2>
</div>
